@{
    ViewData["Title"] = "Contact";
}
<h1 class = 'topics'> Vul uw gegevens in!</h1>

<p1 class= 'subtopic'> Als u hier de gevraagde gegevens invult zullen wij so spoedig mogelijk contact met u opnemen!</p1><br />

<form >
  <p1 class = 'subtopic'> Wat is uw geslacht?</p1> <br />

  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="man" name="gender" value="man">
  <label for="man">Man</label><br>
  <input type="radio" id="different" name="gender" value="different">
  <label for="different">Different</label><br />

  <p1 class = 'subtopic'> Wat is uw voor én achternaam?</p1> <br />

  <p1 class = 'subtopic'> Wat is uw probleem?</p1> <br />
</form>



<h1 class = 'topics'> Ernstige problemen met de website? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de website ontwerpers! </p1>

<h1 class = 'topics'> Ernstige problemen met het theater? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de theater eigenaren!</p1>
