@using Theater_hotspot.Databases

@model List<Product>
@{
    ViewData["Title"] = "Theater de Hotspot";
}

<div class= "text-center">
    <h1>Alle namen</h1>
    @foreach(Product p in Model)
    {
        <p>@p.Naam</p>
    }
</div>
<h1 class = 'topics'>De nieuwste Corona maatregelen</h1>
<p1 class= 'subtopic'> N.A.V. de laaste perconferentie (03/12/2021) blijft/wordt het volgende veranderd:
    <ul>
        <li>Bezoekers van 18+ moeten een werkende Corona Check code bij zich hebben</li>
        <li>Er is een maximum van 200 plaatsen per zaal (wees dus optjd met boeken)</li>
        <li>Bezoekers kunnen pas 15 minuten voor het begin van de voorstelling het theater binnen gaan</li>
    </ul>
</p1>

<h1 class = 'topics'> parkeergelegenheid </h1>
<p1 class = 'subtopic'>Er is een grote parkeerplaats (gratis) op 5 minuten loopafstand van het theater. Ook is er voor de deur een 'kiss-goodbye' zone waar bezoekers kunnen worden afgezet. Zorgen over parkeergelegenheid zijn dus niet nodig. </p1>
<h1 class = 'topics'> Openingstijden</h1>
<p1 class = 'subtopic'> 
    <ul>
        <li> Maandag:   gesloten</li>
        <li> Dinsdag:   12:00 - 22:00 uur </li>
        <li> Woensdag:  12:00 - 22:00 uur </li>
        <li> Donderdag: 12:00 - 22:00 uur </li>
        <li> Vrijdag:   12:00 - 23:00 uur </li>
        <li> Zaterdag:  12:00 - 23:00 uur </li>
        <li> Zondag:    10:00 - 23:00 uur </li>
    </ul>
</p1>


