@{
    ViewData["Title"] = "Informatie";
}
<h1 class = 'topics'>@ViewData["Title"]</h1>

<p1 class= 'subtopic'> Maar wat gebeurt er nou eigenlijk allemaan in en rondom dit theater? Lees het hier!</p1><br/><br/>

<p1 class="subtopic"> Hoe worden de voorstellingeng gekozen?</p1>

<H1 class="uitleg">Er zijn natuurlijk veel verschillende soorten voorstellingen, hiermee bedoelen wij de voorstelling zelf maar ook de manier waarop ze worden gespeeld! Zo kan een toneelstuk al heel erg
    Verschillen van een musical! Wij willen met ons theater een ruime keuze aan voorstellingen aanbieden zodat ieder kan genieten van een voorstelling die hij/zij leuk vindt. Mocht u dan ook nog een idee hebben
    voor een nieuwe voorstelling, laat het gerust aan de eigenaren weten!
</H1>

<p1 class="subtopic">Wat is de geschiedenis van dit theater?</p1>
<H1 class="uitleg"> Dit theater is nog voor de eerste tweede wereld oorlog gebouwd; namelijk in 1932. In eerste instantie was het bedoeld
    als een ziekenhuis, wat het ook tot 1945 is geweest. Na de oorlog is het pand achtergelaten. In 1980 vonden de grootouders van de huidige eigenaren 
    het gebouw en besloten er iets van te maken: zo ontstond er een plek waar mensen konden genieten en samenkomen: een theater.
</H1>

<p1 class="subtopic">Hoe bekend is dit theater nou eigenlijk?</p1>
<h1 class="uitleg"> Sowieso is in de regio van Zuid-Holland dit theater vrij bekend omdat dit vaak dé plek is waar de bekende musicals draaien. Ook worden er soms 
    shows met extreem veel potentie opgevoerd die nog niet zo bekend zijn. Doordat wij de bekende naam hebben kunnen wij de kleinere musicals ook een podium bieden: iets wat wij heel mooi vinden.
    In de burgerlijke wereld zijn wij dus wel bekend om de bekende shows maar in de theater wereld staan wij bekend als de plek waar een musical door kan breken.
</h1> <br />