@{
    ViewData["Title"] = "Informatie";
}
<h1 class = 'topics'>@ViewData["Title"]</h1>

<p1 class= 'subtopic'> Maar wat gebeurt er nou eigenlijk allemaan in en rondom dit theater? Lees het hier!</p1><br/><br/>

<div class="topics">Er zijn natuurlijk veel verschillende sorten voorstellingen, hiermee bedoelen wij de voorstelling zelf maar ook de manier waarop ze worden gespeeld! Zo kan een toneelstuk al heel erg
    Verschillen van een musical! Wij willen met ons theater een ruime keuze aan voorstellingen aanbieden zodat ieder kan genieten van een voorstelling die hij/zij leuk vindt. Mocht u dan ook nog een idee hebben
    voor een nieuwe voorstelling, laat het gerust aan de eigenaren weten!
</div>

