@{
    ViewData["Title"] = "Informatie";
}
<h1 class = 'topics'>@ViewData["Title"]</h1>

<p1 class= 'subtopic'> Maar wat gebeurt er nou eigenlijk allemaan in en rondom dit theater? Lees het hier!</p1><br/><br/>



