@using Theater_hotspot.Databases
@{
    ViewData["Title"] = "Voorstellingen";
}
<h1 class = 'topics'>@ViewData["Title"]</h1>

<p1 class= 'subtopic'> Hier staan alle voorstellingen die in dit theater spelen:</p1><br/><br/>

 

<div class='alle voorstellingen'>
     @foreach(Voorstelling p in Model)
    {
        <div class='voorstelling'> 
            <div class="beschrijving">
                <a href="/voorstellingen/@p.Id">
                    <div class='titels'>@p.Titel </div>
                    <div class='beschrijvingen'>@p.Beschrijving </div>
                </a>
            </div>
            <div class="afbeelding" style="background-image:url(@p.Plaatje)"></div>
        </div> 
    }    
</div>



