@using Theater_hotspot.Databases
@{
    ViewData["Title"] = "Voorstellingen";
}
<h1 class = 'topics'>@ViewData["Title"]</h1>

<p1 class= 'subtopic'> Hier staan alle voorstellingen die in dit theater spelen:</p1><br/><br/>

 

<div class='alle voorstellingen'>
     @foreach(Voorstelling p in Model)
    {
        <div class='voorstelling'> 
            <div class='titels'>@p.Titel </div>  <br> 
            <div class='beschrijvingen'>@p.Beschrijving </div>
        </div> @p.Plaatje
    }    
</div>



