<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       header
    </header>

    @RenderBody()
   
    <footer class="border-top footer text-muted">
       footer
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
