<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />   
</head>
<body>
    <header>      
        <div class="headerimage">
            <div class="headertext">
                Theater de Hotspot
            </div>
        </div>
        <div class="bodytext"> huts</div>
    </header>

    @RenderBody()
   
    <footer>
      <div class="footertext">bottom</div>
    </footer>   
</body>
</html>
