<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />   
</head>

<body>
    <header>

        <div class="headerbody">
           
            <div class="logo"> </div> 

            <div class="navigatie">
                <a class="link" href="/">Homepage</a>&nbsp
                <a class="link" href=/voorstellingen> Voorstellingen</a>&nbsp
                <a class="link" href=/verwacht> Verwacht</a>&nbsp
                <a class="link" href=/informatie>Informatie</a>&nbsp
                <a class="link" href=/contact>Contact</a>&nbsp
                <div class="topnav">
                   <a class="active" </a>
                   <input type="text" placeholder="Search..">
                </div>
            </div>

            

            <div class="headertext">@ViewData["Title"]</div>

        </div>
    </header>

    <div class="middlebody">
        <br><h1>    @RenderBody()</h1>        
    </div>

    <div class= 'footer'>Kijk voor meer informatie verder bij de topics die bovenaan de pagina worden gepresenteerd! </div>


    <footer> </footer>


</body>
</html>
