<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />   
</head>

<body>
    <header>
        <div class="headerbody">
            <div class="headertext">
                @ViewData["Title"]
            </div>
        </div>
    </header>

    <div class="middlebody">
        <br><h1>Koptekst</h1>
        <p>Paragraaf</p>
    </div>



    <footer>Footer</footer>

    @RenderBody()
</body>
</html>
