body {
    background-color: #ae0000;
    margin: 0%;
    height: 100vh;
}


.headerbody {
    background-image: url('/img/header-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 40vh;
    align-items: center;
}

.logo {
    background-image: url('/logo/Logo.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
    outline-width: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.headertext {
    color: white;
    font-size: 390%;
    font-family: 'Trebuchet MS',sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.navigatie {
    justify-content: right;
    display: flex;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 200%;
    margin-top:-10vh;
}

.middlebody {
    margin-top:-4vh;
    color:blue;
}

    .middlebody h1 {
        color: darkblue;
        font-family: 'Trebuchet MS',sans-serif;
    }

    .middlebody p {
        color: white;
        font-family: 'Trebuchet MS',sans-serif;
    }

footer {
    color: darkblue;
    font-family: 'Trebuchet MS',sans-serif;
}

